.App {
    text-align: center;
    font-size: 20px;
}

.add {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.add input {
    border-color: green;
    font-size: 20px;
    border-radius: 5px;
    width: 20%;
}

.add button {
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 15px;
}

.statusBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.filter select {
    background-color: crimson;
    color: white;
    padding: 3px;
    font-size: 15px;
}

.card {
    background-color: lightgreen;
    width: 340px;
    text-align: left;
    color: white;
    padding: 20px;
}

.btn {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn button {
    width: 25%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
}

#edit {
    background-color: green;
}

#delete {
background-color: crimson;
}

#status {
    padding: 10px;
    background-color: rgb(255, 128, 128);
    color: white;
}

#display {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}